extends ../shared/template

block content
  #whatis
    h1.title What is Gundam Designer?
  #container

    h2.title This is an app to create your own custom Mobile Suits, using the best features from histories most powerful Gundams.
    div.center
      a(href='/gundams/new')
        button GET STARTED
