extends ../shared/template

block content
  #container
    div.home-title
      img.home-logo(src='/img/logo.png')
      h1.title Create your own mobile suit.
      a(href='/gundams/new')
        button BUILD
